.chart-standard {
    .color-box {
        @apply relative w-full h-full;
        .color {
            @apply absolute flex flex-col w-full top-0;
            .patches {
                @apply flex;
                .patch {
                @apply mix-blend-multiply border-2 border-transparent w-full;
                    .patch-inner {
                        @apply bg-no-repeat bg-cover;
                        padding-top:100%;
                    }
                }
            }
            .labels {
                .patch {
                    @apply relative font-bold h-full text-center overflow-hidden ;
                    .text {
                        @apply absolute top-0 w-full h-full flex items-center justify-center;
                    }
                    .patch-inner {
                        background-image: none;
                    }
                }
            }
        }
        .color-1 { 
            @apply relative justify-end;
        }
        .color-2 {
            @apply  flex-row  ;
            .patches {
            @apply flex-col;
            }
        }
        .color-3 { 
            .patches {
            @apply flex-row-reverse ;
            }
        }
    }
    .color-box.fives {
        .color-1 {
            @apply ml-fives mb-fives;
            .patches {
                .patch {
                @apply w-fives;
                }
            }
        }
        .color-2 {
            @apply mt-fives;
            .patches {
                @apply w-fives;
                .patch {}
            }
        }
        .color-3 {
            @apply mt-fives;
            .patches {
                .patch {
                @apply w-fives;
                }
            }
        }
        .labels {
            .patch {
                .text {
                font-size:.425rem;
                }
            }
        }
    }
    .color-box.tens {
        .color-1 {
            @apply ml-tens mb-tens;
            .patches {
                .patch {
                @apply w-tens;
                }
            }
        }
        .color-2 {
            @apply mt-tens;
            .patches {
                @apply w-tens;
                .patch {}
            }
        }
        .color-3 {
            @apply mt-tens;
            .patches {
                .patch {
                @apply w-tens;
                }
            }
        }
        .labels {
            .patch {
                .text {
                font-size:1rem;
                }
            }
        }
    }
    .color-box.twenty-fives {
        .color-1 {
            @apply ml-twenty-fives mb-twenty-fives;
            .patches {
                .patch {
                @apply w-twenty-fives;
                }
            }
        }
        .color-2 {
            @apply mt-twenty-fives;
            .patches {
                @apply w-twenty-fives;
                .patch {}
            }
        }
        .color-3 {
            @apply mt-twenty-fives;
            .patches {
                .patch {
                @apply w-twenty-fives;
                }
            }
        }
        .labels {
            .patch {
                .text {
                    font-size:1.5rem;
                }
            }
        }
    }
}
